<%- include('../includes/head.ejs') %> 

<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    

<%- include('../includes/navigation.ejs')%>

<% if (errorMessage) { %>
  <div class="user-message user-message--error"> <%= errorMessage %></div>
<% } %>
<form class="loginn-form" action="/signup" method="POST">

  <div class="form-control">
    <label for="username">Username</label>
    <input
    class="<%= validationErrors.find(e => e.param === 'username') ? 'invalid' : '' %>" 
    type="text" 
    name="username" 
    id="username"
    value="<% if(hasErrors){ %> <%= userData.username %> <% } %>" />
  </div>
  
  <div class="form-control">
    <label for="email">Email</label>
    <input
    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
     type="text" 
     name="email" 
     id="email"
     value="<% if(hasErrors){ %> <%= userData.email %> <% } %>" />
  </div>

  <div class="form-control">
    <label for="pin">Pin</label>
    <input
    class="<%= validationErrors.find(e => e.param === 'pin') ? 'invalid' : '' %>"
     type="password" 
     name="pin" 
     id="pin"
     value="<% if(hasErrors){ %> <%= userData.pin %> <% } %>"  />
  </div>

  <div class="form-control">
    <label for="confirmPin">Confirm Pin</label>
    <input 
    class="<%= validationErrors.find(e => e.param === 'confirmPin') ? 'invalid' : '' %>"
    type="password" 
    name="confirmPin" 
    id="confirmPin"
    value="<% if(hasErrors){ %> <%= userData.confirmPin %> <% } %>" />
  </div>

  <button class="btn" type="submit">Submit</button>
</form>

<%- include('../includes/end.ejs') %>
